.titulo{
    text-align: center;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
}
th{
    color:white;
    background-color:#547980;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
}

th, td {
    padding: 15px;
}

table{
    border-collapse: collapse;
}

.details{
    border-collapse: collapse;
     margin:0 auto;    
     width:65%;
     display: flex;
     justify-content:center;
     align-items: center;
     margin-bottom: 520px;
     margin-top: 50px;
     text-align: center;
}